@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon/icomoona57c.eot?srf3rx);
    src: url(../fonts/icomoon/icomoona57c.eot?srf3rx#iefix) format("embedded-opentype"), url(../fonts/icomoon/icomoona57c.ttf?srf3rx) format("truetype"), url(../fonts/icomoon/icomoona57c.woff?srf3rx) format("woff"), url(../fonts/icomoon/icomoona57c.svg?srf3rx#icomoon) format("svg");
    font-weight: 400;
    font-style: normal
}

body {
    font-family: montserrat, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.7;
    color: gray;
    background: #fff
}

#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.offcanvas #page {
    overflow: hidden;
    position: absolute
}

.offcanvas #page:after {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    background: rgba(0, 0, 0, .7);
    content: ""
}

a {
    color: #ffcd00;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

a:hover, a:active, a:focus {
    color: #ffcd00;
    outline: none;
    text-decoration: none
}

p {
    margin-bottom: 20px
}

h1, h2, h3, h4, h5, h6, figure {
    color: #000;
    font-family: montserrat, Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 20px
}

::-webkit-selection {
    color: #fff;
    background: #ffcd00
}

::-moz-selection {
    color: #fff;
    background: #ffcd00
}

::selection {
    color: #fff;
    background: #ffcd00
}

.wrapper-nav {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    margin: 0 auto
}

@media screen and (max-width:768px) {
    .wrapper-nav {
        margin: 0
    }
}

.wrapper-nav .top-menu {
    padding: 40px 30px
}

@media screen and (max-width:768px) {
    .wrapper-nav .top-menu {
        padding: 28px 1em
    }
}

.wrapper-nav #wrapper-logo {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600
}

.wrapper-nav #wrapper-logo a {
    position: relative;
    color: #fff
}

@media screen and (max-width:768px) {
    .wrapper-nav .menu-1 {
        display: none
    }
}

.wrapper-nav ul {
    padding: 0;
    margin: 8px 0 0
}

.wrapper-nav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    font-weight: 400
}

.wrapper-nav ul li a {
    position: relative;
    font-size: 15px;
    padding: 30px 12px;
    color: rgba(255, 255, 255, .7);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.wrapper-nav ul li a:hover {
    color: #ffcd00
}

.wrapper-nav ul li.has-dropdown {
    position: relative
}

.wrapper-nav ul li.has-dropdown .dropdown {
    width: 140px;
    -webkit-box-shadow: 0 14px 33px -9px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 14px 33px -9px rgba(0, 0, 0, .75);
    box-shadow: 0 14px 33px -9px rgba(0, 0, 0, .75);
    z-index: 1002;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 0;
    text-align: left;
    background: #000;
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s
}

.wrapper-nav ul li.has-dropdown .dropdown:before {
    bottom: 100%;
    left: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #000;
    border-width: 8px;
    margin-left: -8px
}

.wrapper-nav ul li.has-dropdown .dropdown li {
    display: block;
    margin-bottom: 7px
}

.wrapper-nav ul li.has-dropdown .dropdown li:last-child {
    margin-bottom: 0
}

.wrapper-nav ul li.has-dropdown .dropdown li a {
    padding: 2px 0;
    display: block;
    color: #999;
    line-height: 1.2;
    text-transform: none;
    font-size: 13px;
    letter-spacing: 0
}

.wrapper-nav ul li.has-dropdown .dropdown li a:hover {
    color: #fff
}

.wrapper-nav ul li.has-dropdown:hover a, .wrapper-nav ul li.has-dropdown:focus a {
    color: #ffcd00
}

.wrapper-nav ul li.btn-cta a {
    padding: 30px 0!important;
    color: #fff
}

.wrapper-nav ul li.btn-cta a span {
    background: #ffcd00;
    padding: 4px 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px
}

.wrapper-nav ul li.btn-cta a:hover span {
    -webkit-box-shadow: 0 14px 20px -9px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 14px 20px -9px rgba(0, 0, 0, .75);
    box-shadow: 0 14px 20px -9px rgba(0, 0, 0, .75)
}

.wrapper-nav ul li.active>a {
    color: #ffcd00!important;
    position: relative
}

.wrapper-nav ul li.active>a:after {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#wrapper-counter, .wrapper-bg {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    position: relative
}

.wrapper-video {
    overflow: hidden
}

@media screen and (max-width:992px) {
    .wrapper-video {
        height: 450px
    }
}

.wrapper-video a {
    z-index: 1001;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    display: table;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .75);
    -ms-box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .75);
    -o-box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .75);
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

.wrapper-video a i {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 40px;
    color: #ffcd00
}

.wrapper-video .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.wrapper-video:hover .overlay {
    background: rgba(0, 0, 0, .7)
}

.wrapper-video:hover a {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}

#wrapper-hero {
    min-height: 700px;
    background: #fff url(../images/loader.gif) no-repeat center center;
    width: 100%;
    float: left
}

#wrapper-hero .btn {
    font-size: 24px
}

#wrapper-hero .btn.btn-primary {
    padding: 14px 30px!important
}

#wrapper-hero .flexslider {
    border: none;
    z-index: 1;
    margin-bottom: 0
}

#wrapper-hero .flexslider .slides {
    position: relative;
    overflow: hidden
}

#wrapper-hero .flexslider .slides li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-height: 650px;
    position: relative
}

#wrapper-hero .flexslider .slides li .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .6)
}

#wrapper-hero .flexslider .flex-control-nav {
    bottom: 2em;
    z-index: 1000;
    width: 0 auto
}

#wrapper-hero .flexslider .flex-control-nav li a {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 30px;
    height: 4px;
    cursor: pointer;
    border-radius: 0!important
}

#wrapper-hero .flexslider .flex-control-nav li a.flex-active {
    cursor: pointer;
    background: 0 0;
    background: #ffcd00
}

#wrapper-hero .flexslider .flex-direction-nav {
    display: none
}

#wrapper-hero .flexslider .slider-text {
    max-width: 100%;
    display: table;
    opacity: 0;
    height: 700px;
    z-index: 9
}

#wrapper-hero .flexslider .slider-text>.slider-text-inner {
    display: table-cell;
    vertical-align: middle;
    height: 700px;
    padding: 2em
}

@media screen and (max-width:768px) {
    #wrapper-hero .flexslider .slider-text>.slider-text-inner {
        text-align: center
    }
}

#wrapper-hero .flexslider .slider-text>.slider-text-inner span i {
    font-size: 24px;
    color: #f7af1d
}

#wrapper-hero .flexslider .slider-text>.slider-text-inner h1, #wrapper-hero .flexslider .slider-text>.slider-text-inner h2 {
    margin: 0;
    padding: 0;
    color: #fff
}

#wrapper-hero .flexslider .slider-text>.slider-text-inner h1 {
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 700
}

@media screen and (max-width:768px) {
    #wrapper-hero .flexslider .slider-text>.slider-text-inner h1 {
        font-size: 28px
    }
}

#wrapper-hero .flexslider .slider-text>.slider-text-inner h2 {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, .7)
}

#wrapper-hero .flexslider .slider-text>.slider-text-inner h2 a {
    color: #ffcd00;
    border-bottom: 1px solid rgba(255, 205, 0, .7)
}

#wrapper-hero .flexslider .slider-text>.slider-text-inner .heading-section {
    font-size: 50px
}

@media screen and (max-width:768px) {
    #wrapper-hero .flexslider .slider-text>.slider-text-inner .heading-section {
        font-size: 30px
    }
}

#wrapper-hero .flexslider .slider-text>.slider-text-inner s .wrapper-lead {
    font-size: 20px;
    color: #ffcd00
}

#wrapper-hero .flexslider .slider-text>.slider-text-inner s .wrapper-lead .icon-heart {
    color: #d9534f
}

#wrapper-hero .flexslider .slider-text>.slider-text-inner .btn {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    padding: 20px 30px!important;
    border: none
}

#wrapper-hero .flexslider .slider-text>.slider-text-inner .btn.btn-learn {
    background: #ffcd00;
    color: #fff
}

#wrapper-hero .flexslider .slider-text>.slider-text-inner .btn:hover {
    background: #000!important
}

@media screen and (max-width:480px) {
    #wrapper-hero .flexslider .slider-text>.slider-text-inner .btn {
        width: 100%
    }
}

.wrapper-light-grey {
    background: #fafafa
}

#wrapper-intro, #wrapper-about, #wrapper-services, #wrapper-contact, #wrapper-testimony, #wrapper-blog, #wrapper-project, #wrapper-counter, #wrapper-subscribe, #wrapper-footer {
    padding: 7em 0;
    clear: both
}

@media screen and (max-width:768px) {
    #wrapper-intro, #wrapper-about, #wrapper-services, #wrapper-contact, #wrapper-testimony, #wrapper-blog, #wrapper-project, #wrapper-counter, #wrapper-subscribe, #wrapper-footer {
        padding: 3em 0
    }
}

#wrapper-intro {
    padding-top: 7em;
    padding-bottom: 0
}

#wrapper-intro .box {
    background: #ffcd00;
    width: 80%;
    margin: 10px auto 0;
    padding: 2em 0
}

@media screen and (max-width:768px) {
    #wrapper-intro .box {
        margin-bottom: 2em;
        width: 100%
    }
}

#wrapper-intro .box span {
    display: block;
    color: #fff
}

#wrapper-intro .box .num {
    font-size: 120px;
    color: #fff;
    font-weight: 700;
    line-height: 120px
}

#wrapper-intro .box .yr {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 7px
}

#wrapper-intro .box .thin {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 5px
}

.bg-primary-color {
    background: #ffcd00
}

.bg-primary-color p {
    color: #fff!important
}

.wrap {
    padding-left: 2em
}

@media screen and (max-width:768px) {
    .wrap {
        padding-left: 0
    }
}

.wrap-2 {
    padding-right: 2em
}

@media screen and (max-width:768px) {
    .wrap-2 {
        padding-right: 0
    }
}

.services {
    margin-bottom: 60px;
    position: relative
}

.services .icon {
    line-height: 64px;
    position: absolute;
    top: 0;
    left: 0
}

.services .icon i {
    font-size: 50px;
    color: #ffcd00
}

.services .desc {
    padding-left: 75px
}

.services .desc h3 {
    line-height: 34px
}

#wrapper-project {}

#wrapper-project .owl-carousel .owl-controls, #wrapper-project .owl-carousel-posts .owl-controls {
    margin-top: 0
}

#wrapper-project .owl-carousel .owl-controls .owl-nav .owl-next, #wrapper-project .owl-carousel .owl-controls .owl-nav .owl-prev, #wrapper-project .owl-carousel-posts .owl-controls .owl-nav .owl-next, #wrapper-project .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    top: -5px;
    z-index: 9999;
    position: absolute;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding: 0
}

#wrapper-project .owl-carousel .owl-controls .owl-nav .owl-next, #wrapper-project .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: -5px
}

#wrapper-project .owl-carousel .owl-controls .owl-nav .owl-next:hover, #wrapper-project .owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
    margin-right: 5px!important
}

#wrapper-project .owl-carousel .owl-controls .owl-nav .owl-prev, #wrapper-project .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    right: 54px
}

#wrapper-project .owl-carousel .owl-controls .owl-nav .owl-prev:hover, #wrapper-project .owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
    margin-left: 0!important
}

#wrapper-project .owl-carousel-posts .owl-controls .owl-nav .owl-next i, #wrapper-project .owl-carousel-posts .owl-controls .owl-nav .owl-prev i, #wrapper-project .owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i, #wrapper-project .owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
    color: #000
}

#wrapper-project .owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i, #wrapper-project .owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i, #wrapper-project .owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i, #wrapper-project .owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
    color: #000
}

#wrapper-project .owl-theme .owl-controls .owl-nav [class*=owl-] {
    padding: 8px;
    background: #ffcd00;
    border: 1px solid #ffcd00;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0
}

#wrapper-project .owl-theme .owl-controls .owl-nav [class*=owl-] i {
    border: none
}

#wrapper-project .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #ffcd00
}

#wrapper-project .owl-carousel .owl-controls .owl-nav .owl-next i, #wrapper-project .owl-carousel .owl-controls .owl-nav .owl-prev i {
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
    background: #ffcd00
}

#wrapper-project .owl-carousel .owl-controls .owl-nav .owl-next:hover i, #wrapper-project .owl-carousel .owl-controls .owl-nav .owl-prev:hover i {
    color: #fff
}

#wrapper-project .owl-carousel .owl-dots {
    display: none!important
}

@media screen and (max-width:992px) {
    #wrapper-project .owl-carousel .owl-dots {
        display: none!important
    }
}

#wrapper-project .item {
    position: relative
}

#wrapper-project .item .pop-up-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 205, 0, .8);
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#wrapper-project .item .pop-up-overlay .desc {
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: -60px;
    padding: 30px
}

#wrapper-project .item .pop-up-overlay .desc h3 {
    color: rgba(255, 255, 255, .9);
    margin-bottom: 10px
}

#wrapper-project .item .pop-up-overlay .desc span {
    display: block;
    color: rgba(255, 255, 255, .6)
}

#wrapper-project .item .pop-up-overlay:hover, #wrapper-project .item .pop-up-overlay:focus {
    text-decoration: none
}

#wrapper-project .item:hover .pop-up-overlay, #wrapper-project .item:focus .pop-up-overlay {
    opacity: 1
}

.item-2 {
    margin-bottom: 3em
}

.project-wrap {
    position: relative;
    display: block
}

.project-wrap:before {
    position: absolute;
    top: -20px;
    left: -20px;
    right: 0;
    max-width: 100%;
    height: 500px;
    background: #fafafa;
    content: ''
}

.project {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    width: 100%;
    display: table;
    overflow: hidden
}

.project .desc-t {
    display: table;
    height: 500px;
    width: 50%;
    margin: 0 auto
}

.project .desc-t .desc-tc {
    display: table-cell;
    vertical-align: middle;
    height: 500px
}

.project .desc {
    background: #fff;
    padding: 2em
}

.project .desc p {
    margin-bottom: 0;
    color: gray
}

.project .desc h3 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    position: relative;
    padding-left: 70px;
    line-height: 28px;
    display: block
}

.project .desc h3 span {
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 55px;
    display: table;
    text-align: center
}

.project .desc h3 span small {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    background: #ffcd00;
    font-size: 20px
}

#wrapper-testimony {
    position: relative
}

#wrapper-testimony .icon {
    position: absolute;
    top: -2.3em;
    left: 2em;
    z-index: 2;
    display: block;
    width: 62px
}

#wrapper-testimony .icon i {
    width: 100px;
    font-size: 60px;
    color: #e6e6e6
}

#wrapper-testimony .testimony-slide {
    position: relative;
    height: auto
}

#wrapper-testimony .testimony-slide span {
    font-size: 18px;
    font-weight: 700;
    display: block;
    color: #000;
    margin-bottom: 20px;
    text-transform: uppercase
}

#wrapper-testimony .testimony-slide figure {
    float: left
}

#wrapper-testimony .testimony-slide figure img {
    width: 140px
}

@media screen and (max-width:768px) {
    #wrapper-testimony .testimony-slide figure img {
        width: 80px
    }
}

#wrapper-testimony .testimony-slide blockquote {
    border: none;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 0 0 0 170px;
    color: #000
}

@media screen and (max-width:768px) {
    #wrapper-testimony .testimony-slide blockquote {
        padding-left: 100px
    }
}

#wrapper-testimony .testimony-wrap {
    background: #fff;
    padding: 2em;
    width: 100%;
    float: left
}

#wrapper-testimony .owl-carousel .owl-controls, #wrapper-testimony .owl-carousel-posts .owl-controls {
    margin-top: 0
}

#wrapper-testimony .owl-carousel .owl-controls .owl-nav .owl-next, #wrapper-testimony .owl-carousel .owl-controls .owl-nav .owl-prev, #wrapper-testimony .owl-carousel-posts .owl-controls .owl-nav .owl-next, #wrapper-testimony .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    top: -5px;
    z-index: 9999;
    position: absolute;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    padding: 0
}

@media screen and (max-width:768px) {
    #wrapper-testimony .owl-carousel .owl-controls .owl-nav .owl-next, #wrapper-testimony .owl-carousel .owl-controls .owl-nav .owl-prev, #wrapper-testimony .owl-carousel-posts .owl-controls .owl-nav .owl-next, #wrapper-testimony .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
        top: -50px
    }
}

#wrapper-testimony .owl-carousel .owl-controls .owl-nav .owl-next, #wrapper-testimony .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: -5px
}

#wrapper-testimony .owl-carousel .owl-controls .owl-nav .owl-next:hover, #wrapper-testimony .owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
    margin-right: 5px!important
}

#wrapper-testimony .owl-carousel .owl-controls .owl-nav .owl-prev, #wrapper-testimony .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    right: 54px
}

#wrapper-testimony .owl-carousel .owl-controls .owl-nav .owl-prev:hover, #wrapper-testimony .owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
    margin-left: 0!important
}

#wrapper-testimony .owl-carousel-posts .owl-controls .owl-nav .owl-next i, #wrapper-testimony .owl-carousel-posts .owl-controls .owl-nav .owl-prev i, #wrapper-testimony .owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i, #wrapper-testimony .owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
    color: #000
}

#wrapper-testimony .owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i, #wrapper-testimony .owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i, #wrapper-testimony .owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i, #wrapper-testimony .owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
    color: #000
}

#wrapper-testimony .owl-theme .owl-controls .owl-nav [class*=owl-] {
    padding: 8px;
    background: #ffcd00;
    border: 1px solid #ffcd00;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0
}

#wrapper-testimony .owl-theme .owl-controls .owl-nav [class*=owl-] i {
    border: none
}

#wrapper-testimony .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #ffcd00
}

#wrapper-testimony .owl-carousel .owl-controls .owl-nav .owl-next i, #wrapper-testimony .owl-carousel .owl-controls .owl-nav .owl-prev i {
    font-size: 14px;
    color: rgba(255, 255, 255, .7);
    background: #ffcd00
}

#wrapper-testimony .owl-carousel .owl-controls .owl-nav .owl-next:hover i, #wrapper-testimony .owl-carousel .owl-controls .owl-nav .owl-prev:hover i {
    color: #fff
}

#wrapper-testimony .owl-carousel .owl-dots {
    display: none!important
}

@media screen and (max-width:992px) {
    #wrapper-testimony .owl-carousel .owl-dots {
        display: none!important
    }
}

#wrapper-counter {
    position: relative
}

.wrapper-counters {
    padding: 3em 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center
}

.wrapper-counters .overlay {
    z-index: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .4)
}

.wrapper-counters .icon {
    width: 100px;
    height: 100px;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px
}

.wrapper-counters .icon i {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    font-size: 50px;
    color: #fff;
    background: #ffcd00;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

.wrapper-counters .counter-wrap {
    border: 1px solid red!important
}

.wrapper-counters .wrapper-counter {
    font-size: 40px;
    display: block;
    color: #fff;
    font-family: montserrat, Arial, sans-serif;
    width: 100%;
    font-weight: 700;
    margin-bottom: .3em
}

.wrapper-counters .wrapper-counter-label {
    color: rgba(255, 255, 255, .7);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 5px;
    margin-bottom: 2em;
    display: block
}

.blog-entry {
    position: relative;
    display: block;
    background: #fafafa;
    padding: 1.5em;
    margin-bottom: 30px
}

.blog-entry span {
    color: #999;
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px
}

.blog-entry h2 {
    font-weight: 400;
    font-size: 24px;
    line-height: 38px
}

.blog-entry h2 a {
    color: #000
}

.blog-entry .blog-img {
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    margin-bottom: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%
}

.blog-entry .desc {
    padding-left: 130px
}

article {
    margin-bottom: 3em
}

article .blog-img {
    height: 500px;
    z-index: -1
}

article .entry {
    width: 70%;
    margin: 0 auto;
    margin-top: -5em;
    z-index: 1;
    background: #fff;
    padding: 5em 9em;
    position: relative
}

@media screen and (max-width:768px) {
    article .entry {
        padding: 7em 1em 1em;
        width: 90%
    }
}

article .entry h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px
}

@media screen and (max-width:768px) {
    article .entry h2 {
        font-size: 28px;
        line-height: 38px
    }
}

article .entry h2 a {
    color: #000
}

article .entry p {
    font-size: 20px
}

article .entry .meta {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #000;
    padding: .8em
}

article .entry .meta p {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 16px
}

article .entry .meta p span {
    display: block;
    color: #fff
}

article .entry .meta p span:first-child {
    font-weight: 700
}

article .entry .meta p span:last-child {
    font-weight: 400
}

article .entry .meta-2 {
    color: #b3b3b3
}

article .entry .meta-2 span {
    margin-right: 10px
}

article .entry .meta-2 span i {
    color: #666
}

.staff, .blog-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative
}

.about {
    margin-bottom: 30px
}

.staff {
    height: 400px;
    display: block;
    position: relative;
    margin-bottom: 40px;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s
}

.staff .desc {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: #fff;
    padding: 1.5em 1em;
    opacity: 1;
    height: 105px;
    overflow: hidden
}

.staff .desc h3 {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px
}

.staff .desc span {
    color: #b3b3b3;
    display: block;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px
}

.staff .desc .parag {
    opacity: 0;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s
}

.staff .desc .parag p {
    color: #4d4d4d
}

.staff:hover .desc {
    opacity: 1;
    margin-top: 10px;
    height: 360px
}

.staff:hover .desc .parag {
    opacity: 1
}

.contact-info-wrap {
    margin-bottom: 3em
}

.contact-info-wrap p span {
    padding-right: 10px
}

.contact-info-wrap p span i {
    font-size: 20px;
    color: #ffcd00
}

.form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
    font-size: 16px!important;
    font-weight: 300;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0
}

.form-control:focus, .form-control:active {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid rgba(0, 0, 0, .8)
}

input[type=text] {
    height: 50px
}

.form-group {
    margin-bottom: 30px
}

.form-group .btn-modify {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 13px;
    padding: 10px 15px
}

.wrapper-social-icons {
    margin: 0;
    padding: 0
}

.wrapper-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline
}

.wrapper-social-icons li a {
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
    color: #ffcd00;
    padding-left: 10px;
    padding-right: 10px
}

.wrapper-social-icons li a i {
    font-size: 20px
}

.wrapper-heading {
    margin-bottom: 5em
}

.wrapper-heading .sm {
    font-size: 16px;
    letter-spacing: 20px;
    color: #ccc;
    text-transform: uppercase;
    display: block;
    margin-bottom: 30px;
    font-weight: 300
}

.wrapper-heading h2 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px
}

.wrapper-heading h2 span {
    display: block;
    margin-bottom: 0;
    line-height: 60px
}

@media screen and (max-width:480px) {
    .wrapper-heading h2 span {
        line-height: 50px;
        font-size: 40px
    }
}

.wrapper-heading h2 .thin {
    font-weight: 100
}

.wrapper-heading h2 .thick {
    font-weight: 700
}

#wrapper-subscribe {
    padding: 4em 0;
    color: #fff;
    background: #ffcd00
}

#wrapper-subscribe .wrapper-heading {
    margin-bottom: 0
}

#wrapper-subscribe .wrapper-heading h2 {
    color: #fff!important;
    font-size: 50px;
    margin-bottom: 50px;
    font-weight: 700
}

@media screen and (max-width:768px) {
    #wrapper-subscribe .wrapper-heading h2 {
        font-size: 30px
    }
}

#wrapper-subscribe .wrapper-heading p {
    font-size: 22px;
    font-weight: 400
}

.qbstp-header-subscribe .form-group {
    position: relative;
    width: 100%
}

@media screen and (max-width:480px) {
    .qbstp-header-subscribe .form-group {
        width: 100%
    }
}

.qbstp-header-subscribe .form-group input::-webkit-input-placeholder {
    color: #333
}

.qbstp-header-subscribe .form-group input::-moz-input-placeholder {
    color: #333
}

.qbstp-header-subscribe .form-group input::-ms-input-placeholder {
    color: #333
}

.qbstp-header-subscribe .form-group input::-o-input-placeholder {
    color: #333
}

.qbstp-header-subscribe .form-group input::input-placeholder {
    color: #333
}

.qbstp-header-subscribe #email {
    font-size: 18px;
    width: 100%;
    padding-right: 3em;
    border: none;
    border: 2px solid #fff;
    background: #fff;
    color: #333!important
}

.qbstp-header-subscribe button {
    position: absolute;
    top: 0;
    right: -4px;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    background: #000;
    color: #fff;
    border: none;
    padding: 14px
}

#wrapper-footer {
    background: #1e2022;
    color: rgba(255, 255, 255, .6)!important
}

#wrapper-footer .wrapper-footer-links {
    padding: 0;
    margin: 0
}

@media screen and (max-width:768px) {
    #wrapper-footer .wrapper-footer-links {
        margin-bottom: 1px
    }
}

#wrapper-footer .wrapper-footer-links li {
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
    display: block
}

#wrapper-footer .wrapper-footer-links li span {
    display: block;
    font-size: 13px
}

#wrapper-footer .wrapper-footer-links li a {
    color: rgba(255, 255, 255, .9);
    text-decoration: none
}

#wrapper-footer .wrapper-footer-links li a i {
    padding-right: 10px;
    color: #ffcd00
}

#wrapper-footer .wrapper-footer-links li a:hover {
    text-decoration: underline
}

#wrapper-footer .wrapper-social-icons li a {
    padding-left: 10px;
    padding-right: 10px
}

#wrapper-footer .wrapper-social-icons li a:first-child {
    padding-left: 0
}

#wrapper-footer h4 {
    margin-bottom: 30px;
    font-size: 13px;
    color: #e6e6e6;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700
}

#map {
    width: 100%;
    height: 500px;
    position: relative
}

@media screen and (max-width:768px) {
    #map {
        height: 200px
    }
}

#wrapper-offcanvas {
    position: absolute;
    z-index: 1901;
    width: 270px;
    background: #000;
    top: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 75px 40px 40px;
    overflow-y: auto;
    display: none;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

@media screen and (max-width:768px) {
    #wrapper-offcanvas {
        display: block
    }
}

.offcanvas #wrapper-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px)
}

#wrapper-offcanvas a {
    color: rgba(255, 255, 255, .5)
}

#wrapper-offcanvas a:hover {
    color: rgba(255, 255, 255, .8)
}

#wrapper-offcanvas ul {
    padding: 0;
    margin: 0
}

#wrapper-offcanvas ul li {
    padding: 0;
    margin: 0;
    list-style: none
}

#wrapper-offcanvas ul li>ul {
    padding-left: 20px;
    display: none
}

#wrapper-offcanvas ul li.offcanvas-has-dropdown>a {
    display: block;
    position: relative
}

#wrapper-offcanvas ul li.offcanvas-has-dropdown>a:after {
    position: absolute;
    right: 0;
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e0c5";
    font-size: 20px;
    color: rgba(255, 255, 255, .2);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

#wrapper-offcanvas ul li.offcanvas-has-dropdown.active a:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s
}

.gototop.active {
    opacity: 1;
    visibility: visible
}

.gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: #ffcd00;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px
}

.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle
}

.gototop a:hover, .gototop a:active, .gototop a:focus {
    text-decoration: none;
    outline: none
}

.wrapper-nav-toggle {
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
    top: 1.6em!important
}

.wrapper-nav-toggle.active i::before, .wrapper-nav-toggle.active i::after {
    background: #444
}

.wrapper-nav-toggle:hover, .wrapper-nav-toggle:focus, .wrapper-nav-toggle:active {
    outline: none;
    border-bottom: none!important
}

.wrapper-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.wrapper-nav-toggle i::before, .wrapper-nav-toggle i::after {
    content: '';
    width: 25px;
    height: 2px;
    background: #252525;
    position: absolute;
    left: 0;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.wrapper-nav-toggle.wrapper-nav-white>i {
    color: #fff;
    background: #fff
}

.wrapper-nav-toggle.wrapper-nav-white>i::before, .wrapper-nav-toggle.wrapper-nav-white>i::after {
    background: #fff
}

.wrapper-nav-toggle i::before {
    top: -7px
}

.wrapper-nav-toggle i::after {
    bottom: -7px
}

.wrapper-nav-toggle:hover i::before {
    top: -10px
}

.wrapper-nav-toggle:hover i::after {
    bottom: -10px
}

.wrapper-nav-toggle.active i {
    background: 0 0
}

.wrapper-nav-toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    background: #fff
}

.wrapper-nav-toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    background: #fff
}

.wrapper-nav-toggle {
    position: absolute;
    right: 0;
    top: 65px;
    z-index: 21;
    padding: 6px 0 0;
    display: block;
    margin: 0 auto;
    display: none;
    height: 44px;
    width: 44px;
    z-index: 2001;
    border-bottom: none!important
}

@media screen and (max-width:768px) {
    .wrapper-nav-toggle {
        display: block
    }
}

.btn {
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    padding: 8px 20px
}

.btn.btn-md {
    padding: 8px 20px!important
}

.btn.btn-lg {
    padding: 18px 36px!important
}

.btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: none!important
}

.btn-primary {
    background: #ffcd00;
    color: #fff;
    border: 2px solid #ffcd00
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #ffd21a!important;
    border-color: #ffd21a!important
}

.btn-primary.btn-outline {
    background: 0 0;
    color: #ffcd00;
    border: 2px solid #ffcd00
}

.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
    background: #ffcd00;
    color: #fff
}

.btn-success {
    background: #5cb85c;
    color: #fff;
    border: 2px solid #5cb85c
}

.btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #4cae4c!important;
    border-color: #4cae4c!important
}

.btn-success.btn-outline {
    background: 0 0;
    color: #5cb85c;
    border: 2px solid #5cb85c
}

.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
    background: #5cb85c;
    color: #fff
}

.btn-info {
    background: #5bc0de;
    color: #fff;
    border: 2px solid #5bc0de
}

.btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #46b8da!important;
    border-color: #46b8da!important
}

.btn-info.btn-outline {
    background: 0 0;
    color: #5bc0de;
    border: 2px solid #5bc0de
}

.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
    background: #5bc0de;
    color: #fff
}

.btn-warning {
    background: #f0ad4e;
    color: #fff;
    border: 2px solid #f0ad4e
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #eea236!important;
    border-color: #eea236!important
}

.btn-warning.btn-outline {
    background: 0 0;
    color: #f0ad4e;
    border: 2px solid #f0ad4e
}

.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
    background: #f0ad4e;
    color: #fff
}

.btn-danger {
    background: #d9534f;
    color: #fff;
    border: 2px solid #d9534f
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #d43f3a!important;
    border-color: #d43f3a!important
}

.btn-danger.btn-outline {
    background: 0 0;
    color: #d9534f;
    border: 2px solid #d9534f
}

.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
    background: #d9534f;
    color: #fff
}

.btn-outline {
    background: 0 0;
    border: 2px solid gray;
    font-size: 16px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    -webkit-box-shadow: none;
    box-shadow: none
}

.btn.with-arrow {
    position: relative;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

.btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s
}

.btn.with-arrow:hover {
    padding-right: 50px
}

.btn.with-arrow:hover i {
    color: #fff;
    right: 18px;
    visibility: visible;
    opacity: 1
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0;
    border: 2px solid rgba(0, 0, 0, .1);
    height: 54px;
    font-size: 18px;
    font-weight: 300
}

.form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ffcd00
}

.row-pb-lg {
    padding-bottom: 6em!important
}

.row-pb-md {
    padding-bottom: 4em!important
}

.row-pb-sm {
    padding-bottom: 2em!important
}

.nopadding {
    padding: 0!important;
    margin: 0!important
}

.wrapper-loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader.gif) center no-repeat #fff
}

.js .animate-box {
    opacity: 0
}